.container {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

body{
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: flex-start; 
  background: #f5f5f5;
}

.card {
  width: 420px;
  background: white;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  text-align: center;
}

.title {
  font-size: 28px;
  font-weight: bold;
}

.subtitle {
  color: gray;
  margin-bottom: 15px;
}

.description {
  font-size: 16px;
  color: #444;
  margin-bottom: 25px;
}

.begin-btn {
  padding: 12px 20px;
  background: #5348ff;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.begin-btn:hover {
  background: #4034d9;
}
